.nav{
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%);
    grid-area: navbar;
    overflow: auto;
}
.nav ul{
    list-style-type: none;
}
.active{
   color: red;
   text-decoration: none;
}
.item{
    color: white;
    text-decoration: none;
}
.item a:hover{
    color: plum;
}



