.wrapper{ 
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 10vh 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
    "header header"
    "navbar profile";
}

.wrapper-content{
    grid-area: profile;
    background-color: greenyellow;

}
body{
    background-color: lightgrey;
}