.header{
    background-color: brown;
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}

.header img{
    height: 100%;
}